<div class="author">
  <h1 class="author__heading">hello, i'm Evan</h1>
  <p class="author__body">Cybersecurity student</p>
</div>

<img src="/img/PenguinsOnIce.jpg" alt="penguins on windows ice" class="penguin-image" width="1024" height="768">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
   
<!-- ejseach pour populate les datas de chaque post dans la liste suivante -->
    <% data.forEach(post => { %>
     
    
      <li>
        <a href="#">
          <!-- récupérer les datas grâce au keyword "post" -->
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt %></span>
        </a>
      </li>
      
      <% }) %>

  </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

 

  



</section>