<h2>Connexion</h2>
<form action="/users/login" method="POST">
  <input name="email" type="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Mot de passe" required>
  <button type="submit">Connexion</button>
</form>

