<h2>Inscription</h2>
<form action="/users/register" method="POST">
  <input name="username" placeholder="Nom d'utilisateur" required>
  <input name="email" type="email" placeholder="Email" required>
  <input name="password" type="password" placeholder="Mot de passe" required>
  <input name="adresse" placeholder="Adresse">
  <input name="date_naissance" type="date" placeholder="Date de naissance" min="1900-01-01" max="2025-12-31">>
  <button type="submit">S'inscrire</button>
</form> 
